.todaybar{
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50;
    background-color: #f5e0df;
    
}
.todaybar-container{
    height: 100%;
    width: 80%;
    justify-content: center;

}
.todaybar-title{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: #ff5555;

}
.todaybar-content{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: static;
}