.event-search{
    height: 10vh;
    width: 100%;
    background-color:#f5e0df;
    display: flex;
    justify-content: center;
    
}

.event-search-container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
}
