.Navbar{
   height: 7vh;
   width: 100%;
   background-color: teal;
   display: flex;
   justify-content: center;
}

.navbar-container {
   width: 80%;
   height: 100%;
   background-color: thistle;
   display: flex;
   justify-content: space-between;
}

.icon-container {
   display: flex;
   justify-content: center;
}

